.App {
  height: 100vh;
  padding-top: 10px;
  background-color: rgb(42, 99, 68);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.titulo-calculadora {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo {
  height: 40px;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: pink;
  border-radius: 30px;
  border: 5px solid rgb(13, 65, 43);
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}